
<!-- <h3>I am  {{name}} and my student id is {{stuid}}</h3>
<h4>I am learning {{course}}</h4> -->

<!-- Property Binding -->
<!-- <input type="text" name="username" [value]="user" /> -->
<!-- {{count}} -->

<!-- Event Binding -->
<!-- <button (click)="incCount()">increment count</button> -->
<!-- <button (click)="decCount()">decrement count</button> -->

root component

<app-myuser></app-myuser>
<!-- <app-add-staff></app-add-staff>
<app-addstud></app-addstud> -->

<!-- <app-customer></app-customer> -->
<router-outlet></router-outlet>