<!-- <p>welcome to vennila university</p>
{{30+40}}<br/> -->
<!-- {{maximum}}<br/> -->

<!-- name in uppercase is {{stuname|uppercase}}<br/> -->
<!-- today date is {{today|date:'dd-MM-YYYY'}} -->

<!-- <input type="text" [(ngModel)]="username" name="username" >
{{username}} -->
<!-- <p [style.background-color]="username">{{username}}</p> -->
<!-- <h4 [ngClass]="{'cls1':true,'cls2':false}">good evening</h4> -->
<!-- <h4 [ngClass]="{'hide':false}">{{username}}</h4>
<button>show</button>
<button (click)="hidefun">hide</button> -->

<h4>add student works</h4>